section {
    margin: 0 auto;
    width: 1250px;
    height: 500px;
    /*background-color: aqua;*/
    padding-top: 60px;
}

section .UpLoadFrame,.InfoBlock,.DecodeBlock,.ContactBlock {
    /*width: 700px;*/
    height: 300px;
    margin: 0 auto;
    border: 5px dashed black;
    border-radius: 25px;
    padding-top: 40px;
    overflow: hidden;
}

section .UpLoadFrame:hover,.DecodeBlock:hover,.InfoBlock:hover,.ContactBlock:hover{
    border-color: #FFA500;
}

section .UpLoadFrame .ImageButton{
    display: block;
    width: 128px;
    height: 128px;
    background: url("/static/img/upload.png");
    margin: 0 auto;
    cursor:pointer;
}
section .DecodeButton{
    display: block;
    width: 128px;
    height: 128px;
    background: url("/static/img/decode.png");
    margin: 0 auto;
    cursor:pointer;
}

section .UpLoadFrame .help{
    display: block;
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    color: #b5b92d;
}

.DecodeBlock .help{
    display: block;
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    color: #4ca562;
}

section .MailImage{
    display: block;
    width: 128px;
    height: 128px;
    background: url("/static/img/mail.png");
    margin: 0 auto;
    cursor:pointer;
}

section .InfoImage{
    display: block;
    width: 128px;
    height: 128px;
    background: url("/static/img/info.png");
    margin: 0 auto;
    cursor:pointer;
}

.mail{
    display: block;
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    color: #f5ea0a;
}

.copy{
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    color: #4e5465;
    border-radius: 25px;
    background-color: #f5ea0a;
    outline:none;
}

.InfoBlock p, .InfoBlock p a{
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    color: #064d66;
}

/*嵌入进度条*/
.warning {
  position: relative;
  border: 1px solid #b5b92d;
  border-radius: 10px;
  box-shadow: 1vw 3vh 10vh rgba(109, 168, 7, 0.8);
  background-size: 3em 3em;
  background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, #96D923 0.9em, #96D923 2.1em, transparent 2.1em, transparent 2.9em, #96D923 3.1em);
  /*设置进度条速度*/
  -webkit-animation: warning-animation 750ms infinite linear;
  -moz-animation: warning-animation 750ms infinite linear;
  animation: warning-animation 750ms infinite linear;
}
@-webkit-keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}
@-moz-keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}
@keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}
.warning:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #b5b92d, rgba(171, 226, 77, 0.6) 15%, transparent 60%, #b5b92d);
}

.container {
  width: 30vw;
  margin:0 auto;
}

.container .warning {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  color: white;
  font-weight: bold;
}
/*进度条结束*/

/*解码进度条*/
.warning2 {
  position: relative;
  border: 1px solid #4ca562;
  border-radius: 10px;
  box-shadow: 1vw 3vh 10vh rgba(76, 165, 98, 0.8);
  background-size: 3em 3em;
  background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, #4ca562 0.9em, #4ca562 2.1em, transparent 2.1em, transparent 2.9em, #4ca562 3.1em);
  /*设置进度条速度*/
  -webkit-animation: warning-animation 750ms infinite linear;
  -moz-animation: warning-animation 750ms infinite linear;
  animation: warning-animation 750ms infinite linear;
}
@-webkit-keyframes warning2-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}
@-moz-keyframes warning2-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}
@keyframes warning2-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}
.warning2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #4ca562, rgba(76, 165, 98, 0.6) 15%, transparent 60%, #4ca562);
}

.container2 {
  width: 30vw;
  margin:0 auto;
}

.container2 .warning2 {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  color: white;
  font-weight: bold;
}
/*进度条结束*/


/*显示内容切换*/
.display{
    display: block;
}
.display_none{
    display: none;
}