<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>LAZYMARK</title>
    <meta name="keywords" content="隐藏水印，图片水印，图片版权，自媒体版权" />
    <meta name="description" content="图片隐藏水印嵌入工具" />
    <link rel="shortcut icon" href="/static/img/LOGO.ico">
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/banner.css">
    <link rel="stylesheet" type="text/css" href="/static/MainBody.css">
    <script type="text/javascript" src="/static/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/static/MainBody.js"></script>
</head>
<body>
    <!--banner栏-->
    <header>
        <nav>
            <p class="logo" title="WaterMark">
                <a>数字水印，隐藏水印，图片版权</a>
            </p>
            <h1>隐藏水印嵌入工具</h1>
            <a class="contact">合作/联系</a>
            <a class="info">说明</a>
            <a class="decode">解码</a>
            <a class="code chose">嵌入</a>
        </nav>
    </header>
    <!--主体-->
    <section>
        <div class="UpLoadFrame display">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <a class="ImageButton" title="点击上传图片" onclick="upload()"></a>
                {{ form.csrf_token }}
                {{ form.file_button}}
                <a class="help">点击上传图片，请勿上传2MB以上图片</a>
                {{ form.code_filed }}
                {{ form.submit_button}}
            </form>
            <div style="height: 18px;"></div>
            <div class="container">
                <div class="warning" id="UploadStart" onclick="upload_start()">点击开始</div>
            </div>
        </div>
        <div class="DecodeBlock display_none">
            <form action="/decode" method="post" enctype="multipart/form-data">
                <a class="DecodeButton" title="点击上传图片" onclick="decode_get()"></a>
                <a class="help">点击上传图片，请勿上传2MB以上图片</a>
                {{ form.csrf_token }}
                {{ form.decode_button}}
                {{ form.decode_submit}}
            </form>
            <div class="container2">
                <div class="warning2" id="DecodeStart" onclick="decode_start()">开始提取</div>
            </div>
        </div>
        <div class="InfoBlock display_none">
            <a class="InfoImage" title="说明"></a>
            <p>本站所有图标来自→<a href="https://www.easyicon.net/" target="_blank" style="color: #38b7e4;">easyicon</a>←网，如涉侵权请及时与我联系</p>
            <p>技术水平有限，网站任何问题请发送邮件与我联系</p>
            <p>资金有限，服务器简易，请放心不会留存您的上传资源</p>
        </div>
        <div class="ContactBlock display_none">
            <a class="MailImage" title="邮箱"></a>
            <a class="mail" id="mail">zj0714zj@163.com</a>
            <button type="button" class="copy" onclick="CopyEmail()">复制邮箱至剪贴板</button>
        </div>
        <div class="noted">
            <p>嵌入水印的图片均为PNG格式</p>
            <p>水印信息防剪裁、涂抹攻击，暂时不支持图片压缩攻击</p>
        </div>
    </section>
</body>
</html>