<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>LAZYMARK</title>
    <meta name="keywords" content="隐藏水印，图片水印，图片版权，自媒体版权" />
    <meta name="description" content="图片隐藏水印嵌入工具" />
    <link rel="shortcut icon" href="/static/img/LOGO.ico">
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/banner.css">
    <link rel="stylesheet" type="text/css" href="/static/MainBody.css">
    <script type="text/javascript" src="/static/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/static/MainBody.js"></script>
</head>
<body>
    <!--banner栏-->
    <header>
        <nav>
            <p class="logo" title="WaterMark">
                <a>数字水印，隐藏水印，图片版权</a>
            </p>
            <h1>隐藏水印嵌入工具</h1>
        </nav>
    </header>
    <!--主体-->
    <section>
        <div class="UpLoadFrame display">
            <a class="page_small" title="too small"></a>
            <a class="help" style="color: #7e004a;">图片过小，无法嵌入水印信息</a>
            <a href="/" class="Return" style="background-color: #7e004a;">返回首页</a>
        </div>
    </section>
</body>
</html>